<div class="customer-service-system-entrance">
  <a href="https://support.creality.com/?site=US" target="_blank" class="customer-service-system-entrance-btn"
      style="display: block; position: fixed; box-sizing: border-box; font-size: 14px; color: rgb(255, 255, 255); text-align: center; cursor: pointer; text-decoration: none; z-index: 1000000000; width: fit-content; border-radius: 8px; padding: 13px 12px; background-color: rgb(243, 138, 4); max-width: 100%; left: 0px; bottom: 0px; margin: 3px 30px;">
      <div style="display:flex;align-items:center;justify-content: center;overflow:hidden;"><span
              style="display: flex;width:24px;">
              <img src="{{ "client-btn.png" | asset_img_url: '15x' }}"
                  width="100%" height="100%" loading="lazy">
                </span><span
              style="display:block;margin-left:12px;overflow-y:hidden; font-size: 14px; color: #fff;white-space:nowrap;text-overflow:ellipsis;">
              Chat Now</span><span
              style="display:none;position:absolute;top:-2px;left:38px;height:20px;text-align:center;line-height:20px;font-size:12px;color:#fff;border-radius:10px;background-color: #FB5127;padding:0 6px;font-weight:bold;;top:-10px;left:unset;right:-10px"></span>
      </div>
  </a>
</div>