<style>
  * {
    margin: 0;
    padding: 0;
  }
  .chat-app {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 122, 232);
    border-radius: 110px;
    background: var(--Brand-1, #0BB3FB);
    box-shadow: 0 4.4px 11px 0 rgba(0, 0, 0, 0.10);
    position: fixed;
    width: 44px;
    height: 44px;
    top: 77%;
    right: 60px;

    .img-wrap {
      width: 56%;
      height: 56%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    z-index:99;
  }
  
  @media (max-width: 1024px) {
    .chat-app {
      right: 24px;
    }
  }
</style>
<a class="chat-app" href="https://support.creality.com/?site=FALCON_US">
  <div class="img-wrap">
    <img
      src="https://cdn.shopify.com/s/files/1/0630/7522/1663/files/4644f593bcee0c4f92851631365e1646.png?v=1750842365"
      alt=""
      width="100%"
      height="100%"
    >
  </div>
</a>
