{% style %}
  .youtube-video-card-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
  }

  @media (min-width: 1920px) {
    .youtube-video-card-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 0.78125vw;
    overflow: hidden;
  }
  }
{% endstyle %}

<div class="youtube-video-card-wrapper">
  <iframe
    class="youtube-player"
    id="player_{{ block.id }}"
    width="100%"
    height="100%"
    src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1&rel=0&autoplay={{ block.settings.autoplay }}&mute=1"
    frameborder="0"
    allowfullscreen=""
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    title="YouTube video player"
  ></iframe>
</div>

{% schema %}
{
  "name": "YouTube视频卡片",
  "class": "swiper-slide",
  "settings": [
    {
      "type": "video_url",
      "id": "video_url",
      "label": "视频链接",
      "accept": ["youtube"]
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "自动播放",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "YouTube视频卡片"
    }
  ]
}
{% endschema %}
