<style>
     .blur-up {
            filter: blur(1.25rem);
            transition: filter 0.4s, -webkit-filter 0.4s;
        }

        .blur-up.loaded {
            filter: blur(0rem);


        }

        .CR-Laser-Falcon-pro-7_5W .blur-up {
            filter: blur(20px);
            transition: filter 0.4s, -webkit-filter 0.4s;
        }

        .CR-Laser-Falcon-pro-7_5W .blur-up.loaded {
            filter: blur(0px);
        }

        .CR-Laser-Falcon-pro-7_5W .fit_picture {
            display: block;
            width: 100%;
            height: auto;
            position: relative;
        }

        .CR-Laser-Falcon-pro-7_5W .fit_picture img {
            position: absolute;
            width: 100%;
            height: auto;
            left: 0;
            top: 0;
            object-fit: contain;
        }

        @media (min-width:0px) {
            .CR-Laser-Falcon-pro-7_5W .fit_picture .placeholderTag {
                display: none;
            }

            .CR-Laser-Falcon-pro-7_5W .fit_picture ._xmedium {
                display: block;
            }
        }

        @media (min-width:1921px) {
            .CR-Laser-Falcon-pro-7_5W .fit_picture .placeholderTag {
                display: none;
            }

            .CR-Laser-Falcon-pro-7_5W .fit_picture ._xlarge {
                display: block;
            }
        }

        @media (max-width:960px) {
            .CR-Laser-Falcon-pro-7_5W .fit_picture .placeholderTag {
                display: none;
            }

            .CR-Laser-Falcon-pro-7_5W .fit_picture ._xsmall {
                display: block;
            }
        }
        @charset "UTF-8";
body,
html {
  margin: 0;
  padding: 0;
}

.en .fontBold {
  font-family: HarmonyOS_Sans_SC_Bold, sans-serif;
}
.en .fontRegular {
  font-family: HarmonyOS_Sans_SC_Regular, sans-serif;
}
.en .fontLight {
  font-family: HarmonyOS_Sans_SC_Light, sans-serif;
}
.en .fontMedium {
  font-family: HarmonyOS_Sans_SC_Medium, sans-serif;
}

.cn .fontBold {
  font-family: HarmonyOS_Sans_SC_Bold, sans-serif;
}
.cn .fontRegular {
  font-family: HarmonyOS_Sans_SC_Regular, sans-serif;
}
.cn .fontLight {
  font-family: HarmonyOS_Sans_SC_Light, sans-serif;
}
.cn .fontMedium {
  font-family: HarmonyOS_Sans_SC_Medium, sans-serif;
}

.scroll-no {
  overflow-y: hidden;
}

.CR-Laser-Falcon-pro-7_5W {
  width: 100%;
  font-size: 0;
  position: relative;
  background-color: #000000;
  overflow: hidden;
  line-height: 1;
}
.CR-Laser-Falcon-pro-7_5W.cn {
  font-family: "HarmonyOS_Sans_SC_Regular", "Microsoft YaHei", "Open Sans", "PingFang SC", "Arial", "sans-serif";
}
.CR-Laser-Falcon-pro-7_5W.cn h2 {
  font-family: HarmonyOS_Sans_SC_Bold;
}
.CR-Laser-Falcon-pro-7_5W.en {
  font-family: "HarmonyOS_Sans_SC_Regular", "Microsoft YaHei", "Open Sans", "PingFang SC", "Arial", "sans-serif";
}
.CR-Laser-Falcon-pro-7_5W.en h2 {
  font-family: HarmonyOS_Sans_SC_Bold;
}
.CR-Laser-Falcon-pro-7_5W .hmf1 {
  font-family: HarmonyOS_Sans_SC_Bold;
}
.CR-Laser-Falcon-pro-7_5W .hmf2 {
  font-family: HarmonyOS_Sans_SC_Medium;
}
.CR-Laser-Falcon-pro-7_5W .mtl {
  font-family: Montserrat-Light;
  color: #b9b9b9;
}
.CR-Laser-Falcon-pro-7_5W .mtm {
  font-family: Montserrat-Medium;
}
.CR-Laser-Falcon-pro-7_5W .mtb {
  font-family: Montserrat-SemiBold;
}
.CR-Laser-Falcon-pro-7_5W * {
  box-sizing: border-box;
}
.CR-Laser-Falcon-pro-7_5W > * {
  position: relative;
}
.CR-Laser-Falcon-pro-7_5W img {
  width: 100%;
  height: auto;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}
.CR-Laser-Falcon-pro-7_5W .fit_picture {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}
.CR-Laser-Falcon-pro-7_5W .fit_picture img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
}
.CR-Laser-Falcon-pro-7_5W .fixed_block {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.CR-Laser-Falcon-pro-7_5W a {
  text-decoration: none;
}
.CR-Laser-Falcon-pro-7_5W h1,
.CR-Laser-Falcon-pro-7_5W h2,
.CR-Laser-Falcon-pro-7_5W h3,
.CR-Laser-Falcon-pro-7_5W h4,
.CR-Laser-Falcon-pro-7_5W h5,
.CR-Laser-Falcon-pro-7_5W h6,
.CR-Laser-Falcon-pro-7_5W p {
  margin: 0;
  padding: 0;
}
.CR-Laser-Falcon-pro-7_5W h2 {
  font-size: 2.15vw;
  color: #000000;
  line-height: 1;
  font-family: HarmonyOS_Sans_SC_Bold;
  text-align: center;
}
.CR-Laser-Falcon-pro-7_5W .section-common .wrap {
  padding: 0 22.5vw;
  color: #fff;
}
.CR-Laser-Falcon-pro-7_5W .section-common .wrap .relative {
  position: relative;
  height: 100%;
}
.CR-Laser-Falcon-pro-7_5W .section-common .wrap .text-box .text1 {
  font-size: 1.8vw;
  line-height: 1.25;
}
.CR-Laser-Falcon-pro-7_5W .section-common .wrap .text-box .text2 {
  font-size: 0.95vw;
  line-height: 1.25;
}
.CR-Laser-Falcon-pro-7_5W .section1 .wrap {
  left: 17vw;
  top: 50%;
  transform: translateY(-50%);
}
.CR-Laser-Falcon-pro-7_5W .section1 .wrap .text-box .text1 {
  font-size: 2.73vw;
  line-height: 1.65;
}
.CR-Laser-Falcon-pro-7_5W .section1 .wrap .text-box .text2 {
  font-size: 1.56vw;
  line-height: 1.25;
}
.CR-Laser-Falcon-pro-7_5W .section2 .wrap {
  padding: 12vw 24.5vw;
}
.CR-Laser-Falcon-pro-7_5W .section2 .wrap .text-box {
  color: #fff;
}
.CR-Laser-Falcon-pro-7_5W .section2 .wrap .text-box .text1 {
  font-size: 2.73vw;
  line-height: 1.25;
}
.CR-Laser-Falcon-pro-7_5W .section2 .wrap .text-box .text2 {
  font-size: 1.56vw;
  line-height: 1.25;
}
.CR-Laser-Falcon-pro-7_5W .section3 .wrap {
  height: 100%;
  padding: 0 14.7vw;
  color: #fff;
}
.CR-Laser-Falcon-pro-7_5W .section3 .wrap .relative {
  position: relative;
  height: inherit;
}
.CR-Laser-Falcon-pro-7_5W .section3 .wrap .text-box {
  padding-top: 11vw;
}
.CR-Laser-Falcon-pro-7_5W .section3 .wrap .text-box .text1 {
  font-size: 3.15vw;
  line-height: 1.25;
}
.CR-Laser-Falcon-pro-7_5W .section3 .wrap .text-box .text2 {
  font-size: 1.5vw;
  line-height: 1.25;
}
.CR-Laser-Falcon-pro-7_5W .section3 .wrap .text-box-second {
  position: absolute;
  width: 100%;
  top: 59.55vw;
  gap: 1.2vw;
  display: flex;
}
.CR-Laser-Falcon-pro-7_5W .section3 .wrap .text-box-second > div {
  flex: 1;
  padding: 0 1vw;
}
.CR-Laser-Falcon-pro-7_5W .section3 .wrap .text-box-second > div .title {
  font-size: 1.2vw;
  line-height: 2;
}
.CR-Laser-Falcon-pro-7_5W .section3 .wrap .text-box-second > div .desc {
  font-size: 0.84vw;
  line-height: 1.5;
}
.CR-Laser-Falcon-pro-7_5W .section3 .wrap .text-box-third {
  position: absolute;
  width: 100%;
  bottom: 2vw;
  font-size: 0.75vw;
  text-align: center;
}
.CR-Laser-Falcon-pro-7_5W .section4 .wrap {
  text-align: center;
}
.CR-Laser-Falcon-pro-7_5W .section4 .wrap .text-box {
  padding-top: 1.5vw;
}
.CR-Laser-Falcon-pro-7_5W .section4 .wrap .text-box .text1 {
  line-height: 2;
}
.CR-Laser-Falcon-pro-7_5W .section4 .wrap .text-box .text2 {
  font-size: 1vw;
}
.CR-Laser-Falcon-pro-7_5W .section5-2 .wrap .text-box {
  width: 21vw;
  padding-top: 15vw;
}
.CR-Laser-Falcon-pro-7_5W .section5-2 .wrap .text-box .text1 {
  font-size: 1.5vw;
  line-height: 2;
}
.CR-Laser-Falcon-pro-7_5W .section5-2 .wrap .text-box .text2 {
  padding-top: 1vw;
  line-height: 1.5;
}
.CR-Laser-Falcon-pro-7_5W .section5 .wrap {
  width: 25vw;
  left: 52vw;
  top: 12vw;
  padding: initial;
}
.CR-Laser-Falcon-pro-7_5W .section5 .wrap .text-box {
  padding-top: 1.5vw;
}
.CR-Laser-Falcon-pro-7_5W .section5 .wrap .text-box .text1 {
  font-size: 1.5vw;
  line-height: 2;
}
.CR-Laser-Falcon-pro-7_5W .section5 .wrap .text-box .text2 {
  font-size: 1vw;
}
.CR-Laser-Falcon-pro-7_5W .section6 .wrap {
  color: #fff;
}
.CR-Laser-Falcon-pro-7_5W .section6 .wrap .text-box {
  padding-top: 12.5vw;
}
.CR-Laser-Falcon-pro-7_5W .section6 .wrap .text-box .text1 {
  line-height: 2;
  letter-spacing: 2px;
}
.CR-Laser-Falcon-pro-7_5W .section6 .wrap .text-box .text1 span {
  font-size: 1.1vw;
}
.CR-Laser-Falcon-pro-7_5W .section6 .wrap .text-box .text2 {
  line-height: 1.25;
}
.CR-Laser-Falcon-pro-7_5W .section7 .wrap {
  text-align: center;
}
.CR-Laser-Falcon-pro-7_5W .section7 .wrap .text-box {
  padding-top: 2vw;
}
.CR-Laser-Falcon-pro-7_5W .section8 .wrap {
  padding: initial;
  width: 25vw;
  left: 54vw;
  top: 12.5vw;
}
.CR-Laser-Falcon-pro-7_5W .section8 .wrap .text-box .text2 {
  padding-top: 1vw;
  line-height: 1.5;
}
.CR-Laser-Falcon-pro-7_5W .section9 .wrap {
  padding: initial;
  width: 21.5vw;
  left: 54vw;
  top: 14.5vw;
}
.CR-Laser-Falcon-pro-7_5W .section9 .wrap .text-box .text2 {
  padding-top: 1vw;
}
.CR-Laser-Falcon-pro-7_5W .section10 .wrap {
  text-align: center;
}
.CR-Laser-Falcon-pro-7_5W .section10 .wrap .text-box {
  padding-top: 3vw;
}
.CR-Laser-Falcon-pro-7_5W .section11 .wrap .text-box {
  width: 21vw;
  padding-top: 17vw;
}
.CR-Laser-Falcon-pro-7_5W .section11 .wrap .text-box .text2 {
  padding-top: 1vw;
}
.CR-Laser-Falcon-pro-7_5W .section12 .wrap {
  padding: initial;
  left: 54vw;
  top: 14.5vw;
}
.CR-Laser-Falcon-pro-7_5W .section12 .wrap .text-box {
  width: 25vw;
}
.CR-Laser-Falcon-pro-7_5W .section12 .wrap .text-box .text2 {
  padding-top: 1vw;
}
.CR-Laser-Falcon-pro-7_5W .section13 .wrap {
  left: 1.75vw;
  top: 11.5vw;
}
.CR-Laser-Falcon-pro-7_5W .section13 .wrap .text-box {
  width: 25vw;
}
.CR-Laser-Falcon-pro-7_5W .section13 .wrap .text-box .text2 {
  padding-top: 1vw;
  line-height: 1.5;
}
.CR-Laser-Falcon-pro-7_5W .section14 .wrap {
  top: 10vw;
}
.CR-Laser-Falcon-pro-7_5W .section14 .wrap .text-box {
  width: 25vw;
}
.CR-Laser-Falcon-pro-7_5W .section14 .wrap .text-box .text1 {
  font-size: 1.65vw;
  letter-spacing: 1px;
  line-height: 1.5;
}
.CR-Laser-Falcon-pro-7_5W .section14 .wrap .text-box .text2 {
  padding-top: 1vw;
  line-height: 1.5;
}
.CR-Laser-Falcon-pro-7_5W .section14 .wrap .text-box .text2 text {
  padding-bottom: 1vw;
}
.CR-Laser-Falcon-pro-7_5W .section15 .wrap {
  text-align: center;
}
.CR-Laser-Falcon-pro-7_5W .section15 .wrap .text-box {
  padding-top: 1.5vw;
}
.CR-Laser-Falcon-pro-7_5W .section15 .wrap .text-box .text1 {
  font-size: 1.75vw;
}
.CR-Laser-Falcon-pro-7_5W .section15 .wrap .text-box .text2 {
  padding-top: 1vw;
}
.CR-Laser-Falcon-pro-7_5W .section16 .wrap {
  text-align: center;
}
.CR-Laser-Falcon-pro-7_5W .section18 {
  padding: 5vw 18.4vw;
  color: #fff;
}
.CR-Laser-Falcon-pro-7_5W .section18 h2.title {
  color: #fff;
}
.CR-Laser-Falcon-pro-7_5W .section18 .table_wrap {
  margin-top: 4vw;
}
.CR-Laser-Falcon-pro-7_5W .section18 .table_wrap .row-item {
  display: flex;
  border-bottom: 0.0625rem solid #666;
  padding: 1.45vw 0;
}
.CR-Laser-Falcon-pro-7_5W .section18 .table_wrap .row-item .param-name {
  width: 12vw;
  flex-shrink: 0;
  font-family: HarmonyOS_Sans_SC_Medium;
  font-size: 0.86vw;
  line-height: 1;
}
.CR-Laser-Falcon-pro-7_5W .section18 .table_wrap .row-item .param-name.first {
  font-size: 1.17vw;
}
.CR-Laser-Falcon-pro-7_5W .section18 .table_wrap .row-item .value-wrap {
  flex: 1;
  display: flex;
  gap: 5vw;
}
.CR-Laser-Falcon-pro-7_5W .section18 .table_wrap .row-item .value-wrap .value-item {
  flex: 1;
  font-family: HarmonyOS_Sans_SC_Medium;
  font-size: 0.86vw;
  line-height: 1.4;
}
.CR-Laser-Falcon-pro-7_5W .section18 .table_wrap .row-item .value-wrap .value-item .product-name {
  font-family: HarmonyOS_Sans_SC_Medium;
  font-size: 1.17vw;
  line-height: 1;
  text-align: center;
  margin-bottom: 2.5vw;
}
.CR-Laser-Falcon-pro-7_5W .section18 .table_wrap .row-item .value-wrap .value-item .fit_picture {
  width: 100%;
}
.CR-Laser-Falcon-pro-7_5W .section18 .table_wrap .row-item .value-wrap .m-value-item {
  display: none;
}

.toTop {
  position: fixed;
  z-index: 999;
  cursor: pointer;
  bottom: 8.75vw;
  right: 2%;
  transform: rotate(180deg);
  width: 2vw;
  height: 2vw;
}
.toTop:hover .sellpoint-item-jump svg {
  transform: translateY(0);
}
.toTop .sellpoint-item-jump {
  width: 100%;
  height: 100%;
  background-color: #ecfafb;
  border-radius: 50%;
  overflow: hidden;
  z-index: 9;
  transform: translate3d(0, 0, 0);
}
.toTop .sellpoint-item-jump svg {
  width: 100%;
  height: auto;
  transition: all 1s;
  transform: translateY(-50%);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
@media (max-width: 960px) {
  .CR-Laser-Falcon-pro-7_5W {
    width: 100%;
    font-size: 0;
    position: relative;
  }
  .CR-Laser-Falcon-pro-7_5W .mb {
    display: block;
  }
  .CR-Laser-Falcon-pro-7_5W .pc {
    display: none;
  }
  .CR-Laser-Falcon-pro-7_5W h2 {
    font-size: 5.33vw;
    line-height: 1.2;
  }
  .CR-Laser-Falcon-pro-7_5W .desc {
    font-size: 2.93vw;
    margin-top: 2vw;
  }
  .CR-Laser-Falcon-pro-7_5W .section-common .wrap {
    padding: 0 6vw;
  }
  .CR-Laser-Falcon-pro-7_5W .section-common .wrap .text-box {
    padding-top: 10vw;
  }
  .CR-Laser-Falcon-pro-7_5W .section-common .wrap .text-box .text1 {
    font-size: 5.3vw;
  }
  .CR-Laser-Falcon-pro-7_5W .section-common .wrap .text-box .text2 {
    padding-top: 3vw;
    font-size: 3vw;
    line-height: 1.5;
  }
  .CR-Laser-Falcon-pro-7_5W .section1 .wrap {
    display: none;
  }
  .CR-Laser-Falcon-pro-7_5W .section4 .wrap .text-box {
    text-align: left;
  }
  .CR-Laser-Falcon-pro-7_5W .section4 .wrap .text-box .text1 {
    line-height: initial;
    padding-right: 25vw;
  }
  .CR-Laser-Falcon-pro-7_5W .section4 .wrap .text-box .text2 br {
    display: none;
  }
  .CR-Laser-Falcon-pro-7_5W .section5 .wrap {
    width: initial;
    left: 0;
    top: 0;
    padding-right: 12vw;
  }
  .CR-Laser-Falcon-pro-7_5W .section5 .wrap .text-box .text1 {
    line-height: initial;
  }
  .CR-Laser-Falcon-pro-7_5W .section5-2 .wrap {
    left: 0;
    top: 0;
    padding-right: 24vw;
  }
  .CR-Laser-Falcon-pro-7_5W .section5-2 .wrap .text-box {
    width: initial;
  }
  .CR-Laser-Falcon-pro-7_5W .section5-2 .wrap .text-box .text1 {
    line-height: initial;
  }
  .CR-Laser-Falcon-pro-7_5W .section6 .wrap .text-box .text1 {
    letter-spacing: normal;
    line-height: 1.5;
  }
  .CR-Laser-Falcon-pro-7_5W .section6 .wrap .text-box .text1 > span {
    font-size: 4.5vw;
  }
  .CR-Laser-Falcon-pro-7_5W .section8 .wrap {
    width: initial;
    top: 0;
    left: 0;
  }
  .CR-Laser-Falcon-pro-7_5W .section9 .wrap {
    width: 100%;
    top: 0;
    left: 0;
    padding-right: 16vw;
  }
  .CR-Laser-Falcon-pro-7_5W .section9 .wrap .text-box .text1 br {
    display: none;
  }
  .CR-Laser-Falcon-pro-7_5W .section9 .wrap .text-box .text2 {
    padding-right: 14vw;
  }
  .CR-Laser-Falcon-pro-7_5W .section9-1 {
    padding: 12vw 0 22vw;
  }
  .CR-Laser-Falcon-pro-7_5W .section9-1 .navigation-wrap {
    top: 44%;
  }
  .CR-Laser-Falcon-pro-7_5W .section10 .wrap {
    text-align: left;
  }
  .CR-Laser-Falcon-pro-7_5W .section11 .wrap .text-box {
    width: initial;
  }
  .CR-Laser-Falcon-pro-7_5W .section11 .wrap .text-box br {
    display: none;
  }
  .CR-Laser-Falcon-pro-7_5W .section12 .wrap {
    top: 0;
    left: 0;
  }
  .CR-Laser-Falcon-pro-7_5W .section12 .wrap .text-box {
    width: initial;
  }
  .CR-Laser-Falcon-pro-7_5W .section13 .wrap {
    left: 0;
    top: 0;
  }
  .CR-Laser-Falcon-pro-7_5W .section13 .wrap .text-box {
    width: initial;
  }
  .CR-Laser-Falcon-pro-7_5W .section14 .wrap {
    left: 0;
    top: 0;
  }
  .CR-Laser-Falcon-pro-7_5W .section14 .wrap .text-box {
    width: initial;
  }
  .CR-Laser-Falcon-pro-7_5W .section14 .wrap .text-box .text1 {
    line-height: initial;
    padding-bottom: 4vw;
  }
  .CR-Laser-Falcon-pro-7_5W .section14 .wrap .text-box .text2 {
    padding-top: initial;
    font-size: 2.5vw;
  }
  .CR-Laser-Falcon-pro-7_5W .section15 .wrap {
    text-align: left;
  }
  .CR-Laser-Falcon-pro-7_5W .section15 .wrap .text-box .text2 {
    padding-right: 32vw;
  }
  .CR-Laser-Falcon-pro-7_5W .section18 {
    padding: 10vw 6vw;
  }
  .CR-Laser-Falcon-pro-7_5W .section18 .title {
    text-align: left;
    padding-left: 3vw;
  }
  .CR-Laser-Falcon-pro-7_5W .section18 .table_wrap .row-item {
    border-color: #666;
  }
  .CR-Laser-Falcon-pro-7_5W .section18 .table_wrap .row-item .value-wrap {
    gap: 1vw;
    flex-direction: column;
  }
  .CR-Laser-Falcon-pro-7_5W .section18 .table_wrap .row-item .value-wrap .value-item {
    font-size: 2.85vw;
    display: flex;
    padding-left: 3vw;
  }
  .CR-Laser-Falcon-pro-7_5W .section18 .table_wrap .row-item .value-wrap .value-item > span {
    flex: 1;
  }
  .CR-Laser-Falcon-pro-7_5W .section18 .table_wrap .row-item .value-wrap .value-item > span:first-child {
    flex: 0.7;
  }
  .CR-Laser-Falcon-pro-7_5W .section18 .table_wrap .row-item .value-wrap .m-value-item {
    display: block;
    height: 0.085vw;
    background-color: #666;
  }
  .toTop {
    position: fixed;
    z-index: 999;
    cursor: pointer;
    bottom: 8.75vw;
    right: 2%;
    transform: rotate(180deg);
    width: 8vw;
    height: 8vw;
  }
  .toTop:hover .sellpoint-item-jump svg {
    transform: translateY(0);
  }
  .toTop .sellpoint-item-jump {
    width: 100%;
    height: 100%;
    background-color: rgb(244, 245, 249);
    border-radius: 50%;
    overflow: hidden;
    z-index: 9;
    transform: translate3d(0, 0, 0);
  }
  .toTop .sellpoint-item-jump svg {
    width: 100%;
    height: auto;
    transition: all 1s;
    transform: translateY(-50%);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}
</style>
<div id="container-{{section.id}}">
    <div class="CR-Laser-Falcon-pro-7_5W main-contain en">
        <div class="section1">
            <picture class="fit_picture">
                <div style="padding-bottom: 146.53%;" class="_xsmall placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xlarge placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xmedium placeholderTag"></div>
                <source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_s1-pic1_xsmall.webp"
                    media="(max-width:960px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_s1-pic1_xmedium_2n.webp"
                    media="(min-width:1921px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_s1-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_s1-pic1_xmedium_2n.webp 2x"
                    media="(min-width:0px)">
                <source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_s1-pic1_xsmall.jpg"
                    media="(max-width:960px)">
                <source type="image/jpeg" data-srcset="" media="(max-width:960px)"
                    srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_s1-pic1_xsmall_blur.jpg">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_s1-pic1_xmedium_2n.jpg"
                    media="(min-width:1921px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_s1-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_s1-pic1_xmedium_2n.jpg 2x"
                    media="(min-width:0px)"><img class="blur-up"
                    src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_s1-pic1_blur.jpg" alt="s1_pic1">
            </picture>
            <div class="wrap fixed_block">
                <div class="text-box en fadein">
                    <div class="text1 hmf1">CR Laser Falcon</div>
                    <div class="text2 hmf2">Engrave and Cut a <br> Masterpiece/ Masterpiece Maker</div>
                </div>
            </div>
        </div>

        <div class="section2">
            <picture class="fit_picture">
                <div style="padding-bottom: 103.87%;" class="_xsmall placeholderTag"></div>
                <div style="padding-bottom: 28.55%;" class="_xlarge placeholderTag"></div>
                <div style="padding-bottom: 28.55%;" class="_xmedium placeholderTag"></div>
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec2-pic1_xsmall.webp"
                    media="(max-width:960px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec2-pic1_xmedium_2n.webp"
                    media="(min-width:1921px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec2-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec2-pic1_xmedium_2n.webp 2x"
                    media="(min-width:0px)">
                <source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec2-pic1_xsmall.jpg"
                    media="(max-width:960px)">
                <source type="image/jpeg" data-srcset="" media="(max-width:960px)"
                    srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec2-pic1_xsmall_blur.jpg">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec2-pic1_xmedium_2n.jpg"
                    media="(min-width:1921px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec2-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec2-pic1_xmedium_2n.jpg 2x"
                    media="(min-width:0px)"><img class="blur-up"
                    src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec2-pic1_blur.jpg"
                    alt="CR-Laser-Falcon-pro-7_5W_sec2-pic1_blur.jpg">
            </picture>
        </div>

        <div class="section-common section4">
            <picture class="fit_picture">
                <div style="padding-bottom: 160.00%;" class="_xsmall placeholderTag"></div>
                <div style="padding-bottom: 39.14%;" class="_xlarge placeholderTag"></div>
                <div style="padding-bottom: 39.14%;" class="_xmedium placeholderTag"></div>
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec4-pic1_xsmall.webp"
                    media="(max-width:960px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec4-pic1_xmedium_2n.webp"
                    media="(min-width:1921px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec4-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec4-pic1_xmedium_2n.webp 2x"
                    media="(min-width:0px)">
                <source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec4-pic1_xsmall.jpg"
                    media="(max-width:960px)">
                <source type="image/jpeg" data-srcset="" media="(max-width:960px)"
                    srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec4-pic1_xsmall_blur.jpg">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec4-pic1_xmedium_2n.jpg"
                    media="(min-width:1921px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec4-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec4-pic1_xmedium_2n.jpg 2x"
                    media="(min-width:0px)"><img class="blur-up"
                    src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec4-pic1_blur.jpg"
                    alt="CR-Laser-Falcon-pro-7_5W_sec4-pic1_blur.jpg">
            </picture>
            <div class="wrap fixed_block">
                <div class="text-box fadein">
                    <div class="text1 hmf1">0.05mm Compressed Spot for Engraving</div>
                    <div class="text2 mtl">The improved 6-lens array compresses the focal spot to only 0.05mm.<br> It
                        will deliver more details in your engravings.</div>
                </div>
            </div>
        </div>

        <div class="section-common section5">
            <picture class="fit_picture">
                <div style="padding-bottom: 160.00%;" class="_xsmall placeholderTag"></div>
                <div style="padding-bottom: 38.98%;" class="_xlarge placeholderTag"></div>
                <div style="padding-bottom: 38.98%;" class="_xmedium placeholderTag"></div>
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic1_xsmall.webp"
                    media="(max-width:960px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic1_xmedium_2n.webp"
                    media="(min-width:1921px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic1_xmedium_2n.webp 2x"
                    media="(min-width:0px)">
                <source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic1_xsmall.jpg"
                    media="(max-width:960px)">
                <source type="image/jpeg" data-srcset="" media="(max-width:960px)"
                    srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic1_xsmall_blur.jpg">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic1_xmedium_2n.jpg"
                    media="(min-width:1921px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic1_xmedium_2n.jpg 2x"
                    media="(min-width:0px)"><img class="blur-up"
                    src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic1_blur.jpg"
                    alt="CR-Laser-Falcon-pro-7_5W_sec5-pic1_blur.jpg">
            </picture>
            <div class="wrap fixed_block">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Stronger to Cut and Engrave</div>
                    <div class="text2 mtl">Easier to cut through thicker materials. It engraves obvious patterns on
                        objects as hard as stainless steel. It can cut through 4mm woodboard with one pass and up to 5mm
                        woodboard.</div>
                </div>
            </div>
        </div>

        <div class="section-common section5-2">
            <picture class="fit_picture">
                <div style="padding-bottom: 160.00%;" class="_xsmall placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xlarge placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xmedium placeholderTag"></div>
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic2_xsmall.webp"
                    media="(max-width:960px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic2_xmedium_2n.webp"
                    media="(min-width:1921px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic2_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic2_xmedium_2n.webp 2x"
                    media="(min-width:0px)">
                <source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic2_xsmall.jpg"
                    media="(max-width:960px)">
                <source type="image/jpeg" data-srcset="" media="(max-width:960px)"
                    srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic2_xsmall_blur.jpg">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic2_xmedium_2n.jpg"
                    media="(min-width:1921px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic2_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic2_xmedium_2n.jpg 2x"
                    media="(min-width:0px)"><img class="blur-up"
                    src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec5-pic2_blur.jpg"
                    alt="CR-Laser-Falcon-pro-7_5W_sec5-pic2_blur.jpg">
            </picture>
            <div class="wrap fixed_block">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Active Stop Function</div>
                    <div class="text2 mtl">With a gyroscope, the machine will stop
                        working in case of accidental tilt, flip or drop,
                        with the buzzer and indicator sending alert.</div>
                </div>
            </div>
        </div>



        <section class="section-common section6">
            <picture class="fit_picture">
                <div style="padding-bottom: 160.00%;" class="_xsmall placeholderTag"></div>
                <div style="padding-bottom: 39.02%;" class="_xlarge placeholderTag"></div>
                <div style="padding-bottom: 39.02%;" class="_xmedium placeholderTag"></div>
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec6-pic1_xsmall.webp"
                    media="(max-width:960px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec6-pic1_xmedium_2n.webp"
                    media="(min-width:1921px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec6-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec6-pic1_xmedium_2n.webp 2x"
                    media="(min-width:0px)">
                <source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec6-pic1_xsmall.jpg"
                    media="(max-width:960px)">
                <source type="image/jpeg" data-srcset="" media="(max-width:960px)"
                    srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec6-pic1_xsmall_blur.jpg">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec6-pic1_xmedium_2n.jpg"
                    media="(min-width:1921px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec6-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec6-pic1_xmedium_2n.jpg 2x"
                    media="(min-width:0px)"><img class="blur-up"
                    src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec6-pic1_blur.jpg"
                    alt="CR-Laser-Falcon-pro-7_5W_sec6-pic1_blur.jpg">
            </picture>
            <div class="wrap fixed_block">
                <div class="text-box fadein">
                    <div class="text1 hmf1">
                        Leading in Motion Stability <br>
                        <span class="mtm">Stability-oriented drive</span>
                    </div>
                    <div class="text2 mtl">32-bit chip, silent mainboard and self-developed<br>
                        algorithm to drive the steppers in x<br>
                        and y axis precisely, synchronously and quietly.</div>
                </div>
            </div>
        </section>

        <section class="section-common section7">
            <picture class="fit_picture">
                <div style="padding-bottom: 182.67%;" class="_xsmall placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xlarge placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xmedium placeholderTag"></div>
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec7-pic1_xsmall.webp"
                    media="(max-width:960px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec7-pic1_xmedium_2n.webp"
                    media="(min-width:1921px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec7-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec7-pic1_xmedium_2n.webp 2x"
                    media="(min-width:0px)">
                <source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec7-pic1_xsmall.jpg"
                    media="(max-width:960px)">
                <source type="image/jpeg" data-srcset="" media="(max-width:960px)"
                    srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec7-pic1_xsmall_blur.jpg">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec7-pic1_xmedium_2n.jpg"
                    media="(min-width:1921px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec7-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec7-pic1_xmedium_2n.jpg 2x"
                    media="(min-width:0px)"><img class="blur-up"
                    src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec7-pic1_blur.jpg"
                    alt="CR-Laser-Falcon-pro-7_5W_sec7-pic1_blur.jpg">
            </picture>
            <div class="wrap fixed_block">
                <div class="text-box fadein">
                    <div class="text1 hmf1">User-friendly Designs Everywhere</div>
                </div>
            </div>


        </section>

        <section class="section-common section8">
            <picture class="fit_picture">
                <div style="padding-bottom: 160.00%;" class="_xsmall placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xlarge placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xmedium placeholderTag"></div>
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec8-pic1_xsmall.webp"
                    media="(max-width:960px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec8-pic1_xmedium_2n.webp"
                    media="(min-width:1921px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec8-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec8-pic1_xmedium_2n.webp 2x"
                    media="(min-width:0px)">
                <source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec8-pic1_xsmall.jpg"
                    media="(max-width:960px)">
                <source type="image/jpeg" data-srcset="" media="(max-width:960px)"
                    srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec8-pic1_xsmall_blur.jpg">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec8-pic1_xmedium_2n.jpg"
                    media="(min-width:1921px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec8-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec8-pic1_xmedium_2n.jpg 2x"
                    media="(min-width:0px)"><img class="blur-up"
                    src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec8-pic1_blur.jpg"
                    alt="CR-Laser-Falcon-pro-7_5W_sec8-pic1_blur.jpg">
            </picture>
            <div class="wrap fixed_block">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Quicker Calibration</div>
                    <div class="text2 mtl">1. Loosen the screws of the laser module.<br>
                        2. Slide the laser module to make the bottom of
                        the protective cover close to the focus strip.<br>
                        3. Tighten the screws to complete the focusing.</div>
                </div>
            </div>
        </section>
        <div class="section-common section9">
            <picture class="fit_picture">
                <div style="padding-bottom: 160.00%;" class="_xsmall placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xlarge placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xmedium placeholderTag"></div>
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec9-pic1_xsmall.webp"
                    media="(max-width:960px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec9-pic1_xmedium_2n.webp"
                    media="(min-width:1921px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec9-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec9-pic1_xmedium_2n.webp 2x"
                    media="(min-width:0px)">
                <source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec9-pic1_xsmall.jpg"
                    media="(max-width:960px)">
                <source type="image/jpeg" data-srcset="" media="(max-width:960px)"
                    srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec9-pic1_xsmall_blur.jpg">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec9-pic1_xmedium_2n.jpg"
                    media="(min-width:1921px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec9-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec9-pic1_xmedium_2n.jpg 2x"
                    media="(min-width:0px)"><img class="blur-up"
                    src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec9-pic1_blur.jpg"
                    alt="CR-Laser-Falcon-pro-7_5W_sec9-pic1_blur.jpg">
            </picture>
            <div class="wrap fixed_block">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Explore Unlimited <br> Possibilities of Creation</div>
                    <div class="text2 mtl">With 400x415 workspace, it allows users to
                        process a larger piece of material at a time.
                        (Optional raisers)
                    </div>
                </div>
            </div>
        </div>
        <section class="section-common section10">
            <picture class="fit_picture">
                <div style="padding-bottom: 148.53%;" class="_xsmall placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xlarge placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xmedium placeholderTag"></div>
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec10-pic1_xsmall.webp"
                    media="(max-width:960px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec10-pic1_xmedium_2n.webp"
                    media="(min-width:1921px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec10-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec10-pic1_xmedium_2n.webp 2x"
                    media="(min-width:0px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec10-pic1_xsmall.jpg"
                    media="(max-width:960px)">
                <source type="image/jpeg" data-srcset="" media="(max-width:960px)"
                    srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec10-pic1_xsmall_blur.jpg">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec10-pic1_xmedium_2n.jpg"
                    media="(min-width:1921px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec10-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec10-pic1_xmedium_2n.jpg 2x"
                    media="(min-width:0px)"><img class="blur-up"
                    src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec10-pic1_blur.jpg"
                    alt="CR-Laser-Falcon-pro-7_5W_sec10-pic1_blur.jpg">
            </picture>
            <div class="wrap fixed_block">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Explore More Possibility</div>
                </div>
            </div>
        </section>

        <section class="section-common section11">
            <picture class="fit_picture">
                <div style="padding-bottom: 159.87%;" class="_xsmall placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xlarge placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xmedium placeholderTag"></div>
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec11-pic1_xsmall.webp"
                    media="(max-width:960px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec11-pic1_xmedium_2n.webp"
                    media="(min-width:1921px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec11-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec11-pic1_xmedium_2n.webp 2x"
                    media="(min-width:0px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec11-pic1_xsmall.jpg"
                    media="(max-width:960px)">
                <source type="image/jpeg" data-srcset="" media="(max-width:960px)"
                    srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec11-pic1_xsmall_blur.jpg">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec11-pic1_xmedium_2n.jpg"
                    media="(min-width:1921px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec11-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec11-pic1_xmedium_2n.jpg 2x"
                    media="(min-width:0px)"><img class="blur-up"
                    src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec11-pic1_blur.jpg"
                    alt="CR-Laser-Falcon-pro-7_5W_sec11-pic1_blur.jpg">
            </picture>
            <div class="wrap fixed_block">
                <div class="text-box fadein">
                    <div class="text1 hmf1">One-button Control</div>
                    <div class="text2 mtl">When the machine is offline,<br>
                        press the button to preview, engrave/cut,
                        pause, and work again successively.
                    </div>
                </div>
            </div>
        </section>



        <section class="section-common section12">
            <picture class="fit_picture">
                <div style="padding-bottom: 160.00%;" class="_xsmall placeholderTag"></div>
                <div style="padding-bottom: 39.14%;" class="_xlarge placeholderTag"></div>
                <div style="padding-bottom: 39.14%;" class="_xmedium placeholderTag"></div>
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec12-pic1_xsmall.webp"
                    media="(max-width:960px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec12-pic1_xmedium_2n.webp"
                    media="(min-width:1921px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec12-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec12-pic1_xmedium_2n.webp 2x"
                    media="(min-width:0px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec12-pic1_xsmall.jpg"
                    media="(max-width:960px)">
                <source type="image/jpeg" data-srcset="" media="(max-width:960px)"
                    srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec12-pic1_xsmall_blur.jpg">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec12-pic1_xmedium_2n.jpg"
                    media="(min-width:1921px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec12-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec12-pic1_xmedium_2n.jpg 2x"
                    media="(min-width:0px)"><img class="blur-up"
                    src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec12-pic1_blur.jpg"
                    alt="CR-Laser-Falcon-pro-7_5W_sec12-pic1_blur.jpg">
            </picture>
            <div class="wrap fixed_block">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Creating Offline is a Breeze</div>
                    <div class="text2 mtl">With a TF card inserted, you're free to make your
                        stunning ideas real outdoors, in the workshop,
                        warehouse, basement or anywhere else, without
                        connecting to a computer.
                    </div>
                </div>
            </div>
        </section>

        <section class="section-common section13">
            <picture class="fit_picture">
                <div style="padding-bottom: 160.00%;" class="_xsmall placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xlarge placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xmedium placeholderTag"></div>
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec13-pic1_xsmall.webp"
                    media="(max-width:960px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec13-pic1_xmedium_2n.webp"
                    media="(min-width:1921px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec13-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec13-pic1_xmedium_2n.webp 2x"
                    media="(min-width:0px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec13-pic1_xsmall.jpg"
                    media="(max-width:960px)">
                <source type="image/jpeg" data-srcset="" media="(max-width:960px)"
                    srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec13-pic1_xsmall_blur.jpg">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec13-pic1_xmedium_2n.jpg"
                    media="(min-width:1921px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec13-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec13-pic1_xmedium_2n.jpg 2x"
                    media="(min-width:0px)"><img class="blur-up"
                    src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec13-pic1_blur.jpg"
                    alt="CR-Laser-Falcon-pro-7_5W_sec13-pic1_blur.jpg">
            </picture>
            <div class="wrap fixed_block">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Extensive Compatibility</div>
                    <div class="text2 mtl">Software: LaserGRBL <br>
                        File Format: SVG / PNG / DXF / TIF / BMP / PDF / NG
                        Operating System: Mac OS / Windows
                    </div>
                </div>
            </div>
        </section>

        <section class="section-common section14">
            <picture class="fit_picture">
                <div style="padding-bottom: 162.00%;" class="_xsmall placeholderTag"></div>
                <div style="padding-bottom: 39.02%;" class="_xlarge placeholderTag"></div>
                <div style="padding-bottom: 39.02%;" class="_xmedium placeholderTag"></div>
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec14-pic1_xsmall.webp"
                    media="(max-width:960px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec14-pic1_xmedium_2n.webp"
                    media="(min-width:1921px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec14-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec14-pic1_xmedium_2n.webp 2x"
                    media="(min-width:0px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec14-pic1_xsmall.jpg"
                    media="(max-width:960px)">
                <source type="image/jpeg" data-srcset="" media="(max-width:960px)"
                    srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec14-pic1_xsmall_blur.jpg">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec14-pic1_xmedium_2n.jpg"
                    media="(min-width:1921px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec14-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec14-pic1_xmedium_2n.jpg 2x"
                    media="(min-width:0px)"><img class="blur-up"
                    src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec14-pic1_blur.jpg"
                    alt="CR-Laser-Falcon-pro-7_5W_sec14-pic1_blur.jpg">
            </picture>
            <div class="wrap fixed_block">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Able to Engrave and Cut Various Materials</div>
                    <div class="text2 mtl">Flexible materials: paper, cloth, leather, fabrics, etc.</div>
                    <div class="text2 mtl">Materials of average hardness: wood, bamboo, acrylics, ceramics, etc.</div>
                    <div class="text2 mtl"> Materials of high hardness: matte stainless steel,
                        painted metal surface, anodized surface, dark metal
                        surface, etc.
                    </div>
                </div>
            </div>
        </section>


        <section class="section-common section15">
            <picture class="fit_picture">
                <div style="padding-bottom: 189.07%;" class="_xsmall placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xlarge placeholderTag"></div>
                <div style="padding-bottom: 39.06%;" class="_xmedium placeholderTag"></div>
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec15-pic1_xsmall.webp"
                    media="(max-width:960px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec15-pic1_xmedium_2n.webp"
                    media="(min-width:1921px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec15-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec15-pic1_xmedium_2n.webp 2x"
                    media="(min-width:0px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec15-pic1_xsmall.jpg"
                    media="(max-width:960px)">
                <source type="image/jpeg" data-srcset="" media="(max-width:960px)"
                    srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec15-pic1_xsmall_blur.jpg">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec15-pic1_xmedium_2n.jpg"
                    media="(min-width:1921px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec15-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec15-pic1_xmedium_2n.jpg 2x"
                    media="(min-width:0px)"><img class="blur-up"
                    src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec15-pic1_blur.jpg"
                    alt="CR-Laser-Falcon-pro-7_5W_sec15-pic1_blur.jpg">
            </picture>
            <div class="wrap fixed_block">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Create Materpieces Instantly, Enjoy DIY Fun</div>
                    <div class="text2 mtl">Create Your Personalization Gifts, Make Your Festival Difference</div>
                </div>
            </div>
        </section>

        <section class="section-common section16">
            <picture class="fit_picture">
                <div style="padding-bottom: 206.40%;" class="_xsmall placeholderTag"></div>
                <div style="padding-bottom: 36.76%;" class="_xlarge placeholderTag"></div>
                <div style="padding-bottom: 36.76%;" class="_xmedium placeholderTag"></div>
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec16-pic1_xsmall.webp"
                    media="(max-width:960px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec16-pic1_xmedium_2n.webp"
                    media="(min-width:1921px)">
                <source type="image/webp"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec16-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec16-pic1_xmedium_2n.webp 2x"
                    media="(min-width:0px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec16-pic1_xsmall.jpg"
                    media="(max-width:960px)">
                <source type="image/jpeg" data-srcset="" media="(max-width:960px)"
                    srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec16-pic1_xsmall_blur.jpg">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec16-pic1_xmedium_2n.jpg"
                    media="(min-width:1921px)">
                <source type="image/jpeg"
                    data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec16-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec16-pic1_xmedium_2n.jpg 2x"
                    media="(min-width:0px)"><img class="blur-up"
                    src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CR-Laser-Falcon-pro-7_5W_sec16-pic1_blur.jpg"
                    alt="CR-Laser-Falcon-pro-7_5W_sec16-pic1_blur.jpg">
            </picture>
            <div class="wrap fixed_block">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Package</div>
                </div>
            </div>
        </section>

        <div class="section18">
            <h2 class="title fadein">Product Parameters</h2>
            <div class="table_wrap">
                <div class="row-item">
                    <div class="value-wrap">
                        <div class="value-item"><span>Model:</span> <span class="mtl">7.5W</span></div>
                        <div class="m-value-item"></div>
                        <div class="value-item"><span>Connecting Interfaces:</span><span class="mtl"> TF Card,
                                Type-C</span></div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="value-wrap">
                        <div class="value-item"><span>Machine Power:</span> <span class="mtl">Max.72W</span></div>
                        <div class="m-value-item"></div>
                        <div class="value-item"><span>Certification:</span> <span class="mtl">IEC60825 , FDA , CE , ROHS
                                , FCC , UKCA , UL Report , PSE etc.</span></div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="value-wrap">
                        <div class="value-item"><span>Laser Module Output Power:</span> <span class="mtl">7.5W</span>
                        </div>
                        <div class="m-value-item"></div>
                        <div class="value-item"><span>Operating System:</span> <span class="mtl">Windows, Macos</span>
                        </div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="value-wrap">
                        <div class="value-item"><span>Laser Spot:</span> <span class="mtl">0.05mm</span></div>
                        <div class="m-value-item"></div>
                        <div class="value-item"><span>Control Software:</span> <span class="mtl">LightBurn ,
                                LaserGRBL</span></div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="value-wrap">
                        <div class="value-item"><span>Cutting Thickness:</span> <span class="mtl">0-5mm</span></div>
                        <div class="m-value-item"></div>
                        <div class="value-item"><span>File Type(s):</span> <span class="mtl">jpeg , jpg , png , bmp ,
                                svg , dxf , etc</span></div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="value-wrap">
                        <div class="value-item"><span>Wavelenth: </span><span class="mtl">4555mm</span></div>
                        <div class="m-value-item"></div>
                        <div class="value-item"><span>Net Weight: </span><span class="mtl">3.2kg</span></div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="value-wrap">
                        <div class="value-item"><span>Engraving Speed:</span> <span class="mtl">Max. 10000mm/min</span>
                        </div>
                        <div class="m-value-item"></div>
                        <div class="value-item"><span>Gross Weight:</span> <span class="mtl">4.8kg</span></div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="value-wrap">
                        <div class="value-item"><span>Working Area:</span> <span class="mtl">400mm*415mm</span></div>
                        <div class="m-value-item"></div>
                        <div class="value-item"><span>Product Size (L * W * H):</span> <span
                                class="mtl">568*632*198mm</span></div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="value-wrap">
                        <div class="value-item"><span>Voltage Input:</span> <span class="mtl">100-240V~ 50-60Hz</span>
                        </div>
                        <div class="m-value-item"></div>
                        <div class="value-item"><span>Package Size (L * W * H):</span> <span
                                class="mtl">615*295*410mm</span></div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="value-wrap">
                        <div class="value-item"><span>Voltage Output:</span> <span class="mtl">DC 24.0V3A</span></div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="value-wrap">
                        <div class="value-item"><span>Material for Engraving:</span> <span class="mtl">Cardboard, Felt,
                                Cardboard, Wood, Bamboo, Leather, Fabric, Acrylic, Brushed StainlessSteel, Dark Anodized
                                Aluminum, Painted Metal, etc.</span></div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="value-wrap">
                        <div class="value-item"><span>Material for Cutting:</span> <span class="mtl">Cardboard, Felt,
                                Cardboard, Bamlboo, Leather</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="toTop" data-target=".section2">
        <div class="sellpoint-item-jump">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46" height="92"
                viewBox="0 0 46 92">
                <defs>
                    <clipPath id="clip-path">
                        <rect id="pash_17131" data-name="pash 17131" width="46" height="92"
                            transform="translate(9802 -12581)" fill="#fff" stroke="#707070" stroke-width="1"></rect>
                    </clipPath>
                </defs>
                <g id="sdf_3084" data-name="sdf 3084" transform="translate(-9802 12581)" clip-path="url(#clip-path)">
                    <g id="gds_48908" data-name="gds 48908" transform="translate(34 2)">
                        <g id="gds_9" data-name="gds 9" transform="translate(8728 -14303)">
                            <path id="uutyu_24" data-name="uutyu 24"
                                d="M3994,24549a2,2,0,0,1-2-2v-8a2,2,0,0,1,4,0v6h6a2,2,0,0,1,0,4Z"
                                transform="translate(-19118.535 -12785.508) rotate(-45)" fill="#00D3EF">
                            </path>
                        </g>
                        <g id="gds_9-2" data-name="gds 9" transform="translate(8728 -14257)">
                            <path id="uutyu_24-2" data-name="uutyu 24"
                                d="M3994,24549a2,2,0,0,1-2-2v-8a2,2,0,0,1,4,0v6h6a2,2,0,0,1,0,4Z"
                                transform="translate(-19118.535 -12785.508) rotate(-45)" fill="#00D3EF">
                            </path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>
</div>

<script>
gsap.registerPlugin(ScrollToPlugin);
gsap.registerPlugin(ScrollTrigger)
const delay = function (timer) {
  return new Promise((res, rej) => {
    setTimeout(() => {
      res()
    }, timer)
  })
}

const docWidth = document.documentElement.clientWidth;
const docHeight = document.documentElement.clientHeight;
const vw = docWidth / 100;
const vh = docHeight / 100;
let spaceBetween = 1.3 * vw;

let spaceNum = docWidth > 960 ? 0.012 : 0.05


let tarGetinit = function () {
  $('[data-target]').click(function (e) {
    e.preventDefault();
    let target = $(this).data('target')
    gsap.to(window, {
      duration: 0.5,
      scrollTo: {
        y: target
      }
    });
  })
  let pagePagination = $(".page-pagination")

  $(window).scroll(function () {
    if (docWidth > 960) {
      var scrollPos = $(window).scrollTop();
      let docHeight = document.documentElement.clientHeight

      $(".page-pagination li").each(function (key) {
        var target = $(this).data("target");
        var targetPos = $(target).offset().top;
        var targetHeight = $(target).outerHeight();

        // 
        if (scrollPos >= (targetPos - docHeight * (1 - 0.3))) {
          pagePagination.fadeIn();
          $('.page-pagination li').removeClass('active')
          $(this).addClass("active"); // "active"
        } else if (key === 0) {
          pagePagination.fadeOut()
        }
      });
    }
  });
}

var fadeInListen = function () {
  var fadeIn = $('.main-contain').find('.fadein');

  fadeIn.each(function () {
    let element = this;
    let {
      scrub,
      reverse,
      duration,
      actions,
      fn
    } = $(this).data()

    gsap.set(element, {
      opacity: 0,
      y: 30
    });
    let toggleActions = "play none none none";
    let start = $(this).data('start') || 70;
    duration ? '' : duration = 0.8
    let tl = gsap.to(element, {
      opacity: 1,
      y: 0,
      duration
    });
    if (reverse) {
      toggleActions = "play none none reverse"
    }

    ScrollTrigger.create({
      animation: tl,
      trigger: element,
      toggleActions,
      start: `top ${start}%`, // 
      onEnter: function () {

      },
      once: true // 
    });
  });

  var delayFadeIn = $('.delay-fadein');
  delayFadeIn.each(function () {
    let element = this;
    let {
      parent,
      el,
      scrub,
      reverse,
      duration,
      actions,
      fn
    } = $(this).data()
    let parentEl = $(parent);
    parentEl.length ? '' : parentEl = $(element)
    let delayEl = [];
    if (el) {
      el.split(',').forEach((selector) => delayEl.push(...parentEl.find(
        selector)))
    } else {
      delayEl = parentEl.children();
    }

    let toggleActions = "play none none none";
    scrub ? scrub = true : scrub = false;

    duration ? '' : duration = 0.8
    console.log(duration)
    let start = $(this).data('start') || 70;
    let stagger = $(this).data('delay') || 0.3;


    gsap.set(delayEl, {
      opacity: 0,
      y: 30
    });

    let tl = gsap.timeline();
    tl.to(delayEl, {
      stagger,
      opacity: 1,
      y: 0,
      duration
    })
    if (fn) {
      console.log(fn)
      tl = k1c_tl[fn](tl)
    }
    if (reverse) {
      toggleActions = "play none none reverse"
      gsap.set(element, {
        opacity: 0,
        y: 30
      });
      let t2 = gsap.to(element, {
        opacity: 1,
        y: 0,
        duration
      })
      ScrollTrigger.create({
        animation: t2,
        toggleActions,
        trigger: element,
        scrub,
        start: `top ${start}%`, // 
      });
    }
    actions ? toggleActions = actions : ''


    ScrollTrigger.create({
      animation: tl,
      toggleActions,
      trigger: element,
      scrub,
      start: `top ${start}%`, // 
      // marker: true
      // once: true // 
    });
  });

}

//  
fadeInListen();
tarGetinit() //


    // <!-- lazy load -->
    const picture_observer = lozad('.fit_picture,.lazy-video', {
        rootMargin: '1500px 0px', // syntax similar to that of CSS Margin
        load: function (el) {
            // console.log(el)
            if (el.tagName === 'PICTURE' || el.tagName === 'IMG') {
                let image = el.tagName === 'IMG' ? el : el.querySelector('img');
                if (el.tagName === 'IMG') image = el;

                image.onload = function () {
                    this.classList.add('loaded')
                }
                el.querySelectorAll('source').forEach(source => {
                    let srcset = source.getAttribute('data-srcset');
                    srcset ? source.setAttribute('srcset', srcset) : ''
                });
            } else if (el.tagName === 'VIDEO') {
                el.onloadeddata = function () {
                    console.log('loaded...')
                    this.classList.add('loaded');
                };
                const poster = el.getAttribute('data-poster');
                if (poster) el.setAttribute('poster', poster);

                el.querySelectorAll('source').forEach(source => {
                    const src = source.getAttribute('data-src');
                    if (src) {
                        source.setAttribute('src', src);
                        el.load()
                    }
                });
            }
        }
    });
    picture_observer.observe();
</script>

{% schema %}
  {
    "name": "shopify_falcon_7_5w",
    "settings": [],
    "presets": [
      {
        "name": "shopify_falcon_7_5w"
      }
    ]
  }
{% endschema %}