<style>
    .blur-up {
        filter: blur(1.25rem);
        transition: filter 0.4s, -webkit-filter 0.4s;
    }

    .blur-up.loaded {
        filter: blur(0rem);
    }

    .CR-Laser-Falcon-pro-7_5W .blur-up {
        filter: blur(20px);
        transition: filter 0.4s, -webkit-filter 0.4s;
    }

    .CR-Laser-Falcon-pro-7_5W .blur-up.loaded {
        filter: blur(0px);
    }

    .CR-Laser-Falcon-pro-7_5W .fit_picture {
        display: block;
        width: 100%;
        height: auto;
        position: relative;
    }

    .CR-Laser-Falcon-pro-7_5W .fit_picture img {
        position: absolute;
        width: 100%;
        height: auto;
        left: 0;
        top: 0;
        object-fit: contain;
    }
    @media (min-width:0px) {
              .CV-50-pro-22w40w .fit_picture .placeholderTag {
                  display: none;
              }
              .CV-50-pro-22w40w .fit_picture ._xmedium {
                  display: block;
              }
            }
          
            @media (min-width:1921px) {
              .CV-50-pro-22w40w .fit_picture .placeholderTag {
                  display: none;
              }
              .CV-50-pro-22w40w .fit_picture ._xlarge {
                  display: block;
              }
            }
          
            @media (max-width:960px) {
              .CV-50-pro-22w40w .fit_picture .placeholderTag {
                  display: none;
              }
              .CV-50-pro-22w40w .fit_picture ._xsmall {
                  display: block;
              }
            }
.CV-50-pro-22w40w {
  width: 100%;
  font-size: 0;
  position: relative;
  background-color: #000000;
  line-height: 1;
  .text1,.text2{
    color:#fff;
  }
  .text-box-second{
    p{
      color:#fff;
    }
  }
  .row-item{
    .param-name{
      color:#fff;
    }
    .value-wrap{
.value-item{
      color:#fff;
  
}      
    }
  }
}
.CV-50-pro-22w40w.cn {
  font-family: "HarmonyOS_Sans_SC_Regular", "Microsoft YaHei", "Open Sans", "PingFang SC", "Arial", "sans-serif";
}
.CV-50-pro-22w40w.cn h2 {
  font-family: HarmonyOS_Sans_SC_Bold;
}
.CV-50-pro-22w40w.en {
  font-family: "HarmonyOS_Sans_SC_Regular", "Microsoft YaHei", "Open Sans", "PingFang SC", "Arial", "sans-serif";
}
.CV-50-pro-22w40w.en h2 {
  font-family: HarmonyOS_Sans_SC_Bold;
}
.CV-50-pro-22w40w .hmf1 {
  font-family: HarmonyOS_Sans_SC_Bold;
}
.CV-50-pro-22w40w .hmf2 {
  font-family: HarmonyOS_Sans_SC_Medium;
}
.CV-50-pro-22w40w .mbold2 {
  font-family: Montserrat-SemiBold;
}
.CV-50-pro-22w40w .mbold {
  font-family: Montserrat-Medium;
}
.CV-50-pro-22w40w * {
  box-sizing: border-box;
}
.CV-50-pro-22w40w > * {
  position: relative;
}
.CV-50-pro-22w40w .play_btn {
  width: 3vw;
  height: 3vw;
  display: inline-block;
  vertical-align: middle;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxkZWZzPjxwYXRoIGQ9Ik0xNS4yOSAxMC42NTVsLTguNTEyIDQuODA4YTEuMiAxLjIgMCAwMS0xLjc5LTEuMDQ1VjQuODAxYTEuMiAxLjIgMCAwMTEuNzktMS4wNDZsOC41MTIgNC44MDlhMS4yIDEuMiAwIDAxMCAyLjA5eiIgaWQ9ImEiLz48L2RlZnM+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cmVjdCBmaWxsPSJub25lIiB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHJ4PSIyNCIvPjxyZWN0IHN0cm9rZT0iI0ZGRiIgeD0iLjUiIHk9Ii41IiB3aWR0aD0iNDciIGhlaWdodD0iNDciIHJ4PSIyMy41Ii8+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTQuNCAxNC40KSI+PHVzZSBmaWxsPSIjRkZGIiB4bGluazpocmVmPSIjYSIvPjwvZz48L2c+PC9zdmc+);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
.CV-50-pro-22w40w img {
  width: 100%;
  height: auto;
}
.CV-50-pro-22w40w .mb {
  display: none;
}
.CV-50-pro-22w40w .fit_picture {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}
.CV-50-pro-22w40w .fit_picture img {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
}
.CV-50-pro-22w40w .fixed_block {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.CV-50-pro-22w40w a {
  text-decoration: none;
}
.CV-50-pro-22w40w h1,
.CV-50-pro-22w40w h2,
.CV-50-pro-22w40w h3,
.CV-50-pro-22w40w h4,
.CV-50-pro-22w40w h5,
.CV-50-pro-22w40w h6,
.CV-50-pro-22w40w p {
  margin: 0;
  padding: 0;
}
.CV-50-pro-22w40w h2 {
  font-size: 2.15vw;
  color: #000000;
  line-height: 1;
  font-family: HarmonyOS_Sans_SC_Bold;
  text-align: center;
}
.CV-50-pro-22w40w .abs_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}
.CV-50-pro-22w40w .section1 .abs_wrap {
  padding: 0 18vw;
  padding-top: 6.76vw;
  color: #fff;
}
.CV-50-pro-22w40w .section1 .abs_wrap .text-box {
  text-align: center;
}
.CV-50-pro-22w40w .section1 .abs_wrap .text-box .text1 {
  font-size: 2.73vw;
  line-height: 1.65;
}
.CV-50-pro-22w40w .section1 .abs_wrap .text-box .text2 {
  font-size: 1.56vw;
  line-height: 1.25;
}
.CV-50-pro-22w40w .section2 .wrap .text-box {
  color: #fff;
}
.CV-50-pro-22w40w .section2 .wrap .text-box .text1 {
  font-size: 2.73vw;
  line-height: 1.25;
}
.CV-50-pro-22w40w .section2 .wrap .text-box .text2 {
  font-size: 1.56vw;
  line-height: 1.25;
}
.CV-50-pro-22w40w .section3 .wrap {
  padding: 0 14.5vw;
  height: 100%;
  color: #fff;
}
.CV-50-pro-22w40w .section3 .wrap .relative {
  position: relative;
  height: inherit;
}
.CV-50-pro-22w40w .section3 .wrap .text-box {
  padding-top: 11vw;
}
.CV-50-pro-22w40w .section3 .wrap .text-box .text1 {
  font-size: 3.15vw;
  line-height: 1.25;
}
.CV-50-pro-22w40w .section3 .wrap .text-box .text2 {
  font-size: 1.5vw;
  line-height: 1.25;
}
.CV-50-pro-22w40w .section3 .wrap .text-box-second {
  position: absolute;
  width: 100%;
  top: 59.55vw;
  gap: 1.2vw;
  display: flex;
}
.CV-50-pro-22w40w .section3 .wrap .text-box-second > div {
  flex: 1;
  padding: 0 1vw;
}
.CV-50-pro-22w40w .section3 .wrap .text-box-second > div .title {
  font-size: 1.2vw;
  line-height: 2;
}
.CV-50-pro-22w40w .section3 .wrap .text-box-second > div .desc {
  font-size: 0.84vw;
  line-height: 1.5;
}
.CV-50-pro-22w40w .section3 .wrap .text-box-third {
  position: absolute;
  width: 100%;
  bottom: 2vw;
  font-size: 0.75vw;
  text-align: center;
}
.CV-50-pro-22w40w .section-common .wrap {
  padding: 0 23.5vw;
  color: #fff;
}
.CV-50-pro-22w40w .section-common .wrap .relative {
  position: relative;
  height: 100%;
}
.CV-50-pro-22w40w .section-common .wrap .text-box {
  padding-top: 4.5vw;
}
.CV-50-pro-22w40w .section-common .wrap .text-box .text1 {
  font-size: 3.15vw;
  line-height: 1.25;
}
.CV-50-pro-22w40w .section-common .wrap .text-box .text2 {
  padding-top: 1vw;
  font-size: 1.5vw;
  line-height: 1.25;
}
.CV-50-pro-22w40w .section6 .wrap {
  padding: 0 14.7vw;
  color: #fff;
  padding-top: 5.5vw;
}
.CV-50-pro-22w40w .section6 .wrap .text1 {
  font-size: 3.15vw;
  line-height: 1.25;
}
.CV-50-pro-22w40w .section6 .wrap .relative {
  position: relative;
}
.CV-50-pro-22w40w .section6 .wrap .text-box-second {
  display: flex;
  position: absolute;
  width: 100%;
  top: 11vw;
  font-size: 1.25vw;
  gap: 1vw;
}
.CV-50-pro-22w40w .section6 .wrap .text-box-second > div {
  flex: 1;
  padding: 1vw 3.5vw;
  line-height: 1.25;
}
.CV-50-pro-22w40w .section8 .wrap {
  padding: 0 24.5vw;
  color: #fff;
  height: 100%;
}
.CV-50-pro-22w40w .section8 .wrap .relative {
  position: relative;
  height: inherit;
}
.CV-50-pro-22w40w .section8 .wrap .text-box {
  padding-top: 5.5vw;
}
.CV-50-pro-22w40w .section8 .wrap .text-box .text1 {
  font-size: 3.15vw;
  line-height: 1.25;
}
.CV-50-pro-22w40w .section8 .wrap .text-box .text2 {
  font-size: 1.5vw;
  line-height: 1.25;
}
.CV-50-pro-22w40w .section8 .wrap .text-box-second {
  position: absolute;
  width: 100%;
  bottom: 2vw;
  font-size: 1.55vw;
  line-height: 1.5;
}
.CV-50-pro-22w40w .section13 .wrap > div {
  width: 30vw;
}
.CV-50-pro-22w40w .section13 .wrap .text1 {
  font-size: 3.15vw;
  line-height: 1.25;
}
.CV-50-pro-22w40w .section13 .wrap .text2 {
  font-size: 1.5vw;
  line-height: 1.25;
  padding-top: 1vw;
}
.CV-50-pro-22w40w .section13 .wrap .text-box {
  position: absolute;
  right: 17vw;
  top: 9vw;
}
.CV-50-pro-22w40w .section13 .wrap .text-box-second {
  position: absolute;
  left: 15.5vw;
  top: 54vw;
}
.CV-50-pro-22w40w .section13 .wrap .text-box-third {
  position: absolute;
  right: 17vw;
  top: 93vw;
}
.CV-50-pro-22w40w .section13 .wrap .text-box-fourth {
  position: absolute;
  left: 15.5vw;
  top: 135vw;
}
.CV-50-pro-22w40w .section13-2 .wrap {
  padding: 0 19vw;
}
.CV-50-pro-22w40w .section13-2 .wrap .text-box {
  text-align: center;
}
.CV-50-pro-22w40w .section14 .wrap {
  padding: 0 21.5vw;
  text-align: center;
}
.CV-50-pro-22w40w .section15 .wrap {
  text-align: center;
}
.CV-50-pro-22w40w .section16 {
  padding: 5vw 18.4vw;
  color: #fff;
}
.CV-50-pro-22w40w .section16 h2.title {
  color: #fff;
  text-align: left;
}
.CV-50-pro-22w40w .section16 .table_wrap {
  margin-top: 4vw;
}
.CV-50-pro-22w40w .section16 .table_wrap .row-item {
  display: flex;
  border-bottom: 0.0625rem solid #6e6e6e;
  padding: 1.45vw 0;
}
.CV-50-pro-22w40w .section16 .table_wrap .row-item .param-name {
  width: 12vw;
  flex-shrink: 0;
  font-family: HarmonyOS_Sans_SC_Medium;
  font-size: 0.86vw;
  line-height: 1;
}
.CV-50-pro-22w40w .section16 .table_wrap .row-item .param-name.first {
  font-size: 1.17vw;
}
.CV-50-pro-22w40w .section16 .table_wrap .row-item .value-wrap {
  flex: 1;
  display: flex;
  gap: 5vw;
}
.CV-50-pro-22w40w .section16 .table_wrap .row-item .value-wrap .value-item {
  flex: 1;
  font-family: HarmonyOS_Sans_SC_Medium;
  font-size: 0.86vw;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
}
.CV-50-pro-22w40w .section16 .table_wrap .row-item .value-wrap .value-item .product-name {
  font-family: HarmonyOS_Sans_SC_Medium;
  font-size: 1.17vw;
  line-height: 1;
  text-align: center;
  margin-bottom: 2.5vw;
}
.CV-50-pro-22w40w .section16 .table_wrap .row-item .value-wrap .value-item .fit_picture {
  width: 100%;
}

.toTop {
  position: fixed;
  z-index: 999;
  cursor: pointer;
  bottom: 8.75vw;
  right: 2%;
  transform: rotate(180deg);
  width: 2vw;
  height: 2vw;
}
.toTop:hover .sellpoint-item-jump svg {
  transform: translateY(0);
}
.toTop .sellpoint-item-jump {
  width: 100%;
  height: 100%;
  background-color: #ecfafb;
  border-radius: 50%;
  overflow: hidden;
  z-index: 9;
  transform: translate3d(0, 0, 0);
}
.toTop .sellpoint-item-jump svg {
  width: 100%;
  height: auto;
  transition: all 1s;
  transform: translateY(-50%);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
@media (max-width: 960px) {
  .CV-50-pro-22w40w {
    width: 100%;
    font-size: 0;
    position: relative;
  }
  .CV-50-pro-22w40w .mb {
    display: block;
  }
  .CV-50-pro-22w40w .pc {
    display: none;
  }
  .CV-50-pro-22w40w .mb-t {
    display: none;
  }
  .CV-50-pro-22w40w h2 {
    font-size: 5.33vw;
    line-height: 1.2;
  }
  .CV-50-pro-22w40w .desc {
    font-size: 2.93vw;
    margin-top: 2vw;
  }
  .CV-50-pro-22w40w .abs_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
  }
  .CV-50-pro-22w40w .section4 {
    padding: 12vw 8vw;
  }
  .CV-50-pro-22w40w .section15 .wrap {
    padding: initial;
  }
  .CV-50-pro-22w40w .section15 .wrap .text-box {
    padding-top: 2.5vw;
  }
  .CV-50-pro-22w40w .section15 .wrap .text-box .text1 {
    font-size: 4.5vw;
  }
  .CV-50-pro-22w40w .section15 .wrap .text-box .text2 {
    font-size: 2.5vw;
  }
  .CV-50-pro-22w40w .section16 {
    padding: 5vw 4vw;
  }
  .CV-50-pro-22w40w .section16 .table_wrap {
    margin-top: 4vw;
  }
  .CV-50-pro-22w40w .section16 .table_wrap .row-item {
    gap: 6vw;
  }
  .CV-50-pro-22w40w .section16 .table_wrap .row-item .param-name {
    font-size: 2.5vw;
  }
  .CV-50-pro-22w40w .section16 .table_wrap .row-item .param-name.first {
    font-size: 3.17vw;
  }
  .CV-50-pro-22w40w .section16 .table_wrap .row-item .value-wrap .value-item {
    font-size: 2.86vw;
  }
  .CV-50-pro-22w40w .section16 .table_wrap .row-item .value-wrap .value-item .product-name {
    font-size: 1.17vw;
    margin-bottom: 2.5vw;
  }
  .toTop {
    position: fixed;
    z-index: 999;
    cursor: pointer;
    bottom: 8.75vw;
    right: 2%;
    transform: rotate(180deg);
    width: 8vw;
    height: 8vw;
  }
  .toTop:hover .sellpoint-item-jump svg {
    transform: translateY(0);
  }
  .toTop .sellpoint-item-jump {
    width: 100%;
    height: 100%;
    background-color: rgb(244, 245, 249);
    border-radius: 50%;
    overflow: hidden;
    z-index: 9;
    transform: translate3d(0, 0, 0);
  }
  .toTop .sellpoint-item-jump svg {
    width: 100%;
    height: auto;
    transition: all 1s;
    transform: translateY(-50%);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}
</style>
<div id="container-{{section.id}}">
    <div class="CV-50-pro-22w40w main-contain en">
        <div class="section1">
            <div class="abs_wrap mb-t">
                <div class="text-box en fadein">
                    <div class="text1 hmf1">Creality Falcon2 Pro</div>
                    <div class="text2 hmf2">Substantial and secure, exclusive and reflective.<br>Innovations for All Passions</div>
                </div>
            </div>
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 56.64%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 56.64%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_s1-pic1_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_s1-pic1_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_s1-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_s1-pic1_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_s1-pic1_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_s1-pic1_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_s1-pic1_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_s1-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_s1-pic1_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_s1-pic1_blur.jpg" alt="s1_pic1"></picture>
        </div>

        <div class="section-common section2">
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 86.25%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 86.25%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec2-pic1_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec2-pic1_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec2-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec2-pic1_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec2-pic1_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec2-pic1_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec2-pic1_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec2-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec2-pic1_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec2-pic1_blur.jpg" alt="CV-50-pro-22w40w_sec2-pic1_blur.jpg"></picture>
            <div class="wrap fixed_block mb-t">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Safe and Visible<br>FDA Class 1 Safety <br>Certification</div>
                    <div class="text2 ">Visual body, stress-free eye viewing.<br>Lid-open safety stop, designed to prevent laser leakage.</div>
                </div>
            </div>
        </div>
        
        <div class="section3">
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 74.80%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 74.80%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec3-pic1_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec3-pic1_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec3-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec3-pic1_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec3-pic1_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec3-pic1_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec3-pic1_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec3-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec3-pic1_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec3-pic1_blur.jpg" alt="CV-50-pro-22w40w_sec3-pic1_blur.jpg"></picture>
            <div class="wrap fixed_block mb-t">
                <div class="relative">
                    <div class="text-box fadein">
                        <div class="text1 hmf1">Multiple Security Monitoring<br> Worry-free Creation</div>
                        <div class="text2 ">Triple intelligent monitoring, flame and dirt monitoring.<br>Five major safety guarantees, stop with one button.</div>
                    </div>
    
                    <div class="text-box-second"> 
                        <div>
                            <p class="title">Airflow Monitoring</p>
                            <p class="desc">Indicates the current airflow volume. It enables you to adjust the airflow based on your engraving needs.</p>
                        </div>
                        <div>
                            <p class="title">Flame Monitoring</p>
                            <p class="desc">When a flame is detected, the indicator will flash red with an alarm and the machine will stop immediately.</p>
                        </div>
                        <div>
                            <p class="title">Lens Monitoring</p>
                            <p class="desc">Built-in lens monitoring system will trigger an alarm when the lens is dirty enough, which helps avoid lens breakage and frequent replacement.</p>
                        </div>
                    </div>
    
                    <div class="text-box-third">
                        <p>(Note: The alarm function is disabled by default. Please enabbe it in the settings if needed.)</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-common section4">
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 64.69%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 64.69%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec4-pic1_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec4-pic1_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec4-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec4-pic1_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec4-pic1_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec4-pic1_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec4-pic1_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec4-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec4-pic1_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec4-pic1_blur.jpg" alt="CV-50-pro-22w40w_sec4-pic1_blur.jpg"></picture>
            <div class="wrap fixed_block mb-t">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Pilot Technology,<br>Visual Assistance for Precise<br>Positioning</div>
                    <div class="text2 ">Built-in top camera for accurate alignment.<br>Ensuring full-frame functionality.<br>Spacious interior, limitless creativity.<br></div>
                </div>
            </div>
        </div>

        <div class="section-common section5">
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 114.26%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 114.26%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec5-pic1_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec5-pic1_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec5-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec5-pic1_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec5-pic1_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec5-pic1_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec5-pic1_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec5-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec5-pic1_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec5-pic1_blur.jpg" alt="CV-50-pro-22w40w_sec5-pic1_blur.jpg"></picture>
            <div class="wrap fixed_block mb-t">
                <div class="text-box fadein">
                    <div class="text1 hmf1">360° Visual Design, Combines Aesthetics with Versatility.</div>
                    <div class="text2 ">Fully transparent cover allows you to observe processing from any angle, completely free from the constraints of protective glasses With curved surface, external buttons, unique and convenient</div>
                </div>
            </div>
        </div>

        <section class="section6">
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 51.80%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 51.80%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec6-pic1_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec6-pic1_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec6-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec6-pic1_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec6-pic1_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec6-pic1_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec6-pic1_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec6-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec6-pic1_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec6-pic1_blur.jpg" alt="CV-50-pro-22w40w_sec6-pic1_blur.jpg"></picture>
            <div class="wrap fixed_block mb-t">
                <div class="relative">
                    <div class="text-box fadein">
                        <div class="text1 hmf1">Full-field Protection, Unleash Unlimited Creative Space</div>
                    </div>

                    <div class="text-box-second">
                        <div>
                            <p>Upgraded curved cover and built-in camera for precise compatibility with extensive processing.</p>
                        </div>
                        <div>
                            <p>Operational protective cover and camera may compromise engraving accuracy due to space constraints.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section-common section7">
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 63.05%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 63.05%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec7-pic1_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec7-pic1_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec7-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec7-pic1_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec7-pic1_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec7-pic1_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec7-pic1_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec7-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec7-pic1_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec7-pic1_blur.jpg" alt="CV-50-pro-22w40w_sec7-pic1_blur.jpg"></picture>
            <div class="wrap fixed_block mb-t">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Real-time Preview, One-click Picture Output</div>
                    <div class="text2 ">Supporting the spark of your inspiration anytime, anywhere.</div>
                </div>
            </div>
        </section>

        <section class="section-common section8">
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 68.40%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 68.40%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec8-pic1_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec8-pic1_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec8-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec8-pic1_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec8-pic1_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec8-pic1_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec8-pic1_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec8-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec8-pic1_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec8-pic1_blur.jpg" alt="CV-50-pro-22w40w_sec8-pic1_blur.jpg"></picture>
            <div class="wrap fixed_block mb-t">
                <div class="relative">
                    <div class="text-box fadein">
                        <div class="text1 hmf1">Super Cutting Power</div>
                        <div class="text2">Compatible with 40W and 22W laser modules. Bonus a 1.6W laser module with 40W, specifically designed for engraving more deail</div>
                    </div>
                    <div class="text-box-second">
                        <p>40W: Cutting 20mm basswood board in one-pass</p>
                        <p>22W: Cutting 10mm basswood board in one-pass</p>
                    </div>
                </div>
            </div>
        </section>


        <div class="section-common section9">
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 82.85%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 82.85%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic1_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic1_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic1_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic1_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic1_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic1_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic1_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic1_blur.jpg" alt="CV-50-pro-22w40w_sec9-pic1_blur.jpg"></picture>
            <div class="wrap fixed_block mb-t">
                <div class="text-box fadein">
                    <div class="text1 hmf1">High-effciency Batch <br>Profit in Your Pocket
                        </div>
                    <div class="text2 ">Perfectly suitable for small and batch projects, providingthe best
                        service for your creativity and business.
                        </div>
                </div>
            </div>
        </div>

        <div class="section-common section9-2">
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 68.55%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 68.55%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic2_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic2_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic2_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic2_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic2_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic2_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic2_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic2_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic2_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec9-pic2_blur.jpg" alt="CV-50-pro-22w40w_sec9-pic2_blur.jpg"></picture>
            <div class="wrap fixed_block mb-t">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Drawer Design, A Good Helper for<br>
                        Desktop Organization
                        </div>
                    <div class="text2 ">The metal drawer design can store the debris generatedby creation<br>
                        Simply pull, pour and wipe to easily clean up.<br>
                        Bidding farewell to clutter worries.<br>
                        Bidding farewell to clutter worries and enjoy the joy of creation
                        </div>
                </div>
            </div>
        </div>

        <section class="section-common section10">
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 59.53%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 59.53%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec10-pic1_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec10-pic1_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec10-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec10-pic1_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec10-pic1_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec10-pic1_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec10-pic1_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec10-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec10-pic1_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec10-pic1_blur.jpg" alt="CV-50-pro-22w40w_sec10-pic1_blur.jpg"></picture>
            <div class="wrap fixed_block mb-t">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Small Machine, Big Achievements</div>
                    <div class="text2 ">Large working area of 15.75*16.34 inches (400*415mnn) Break free from constraints, unlock more space, andenjoy convenient placement.</div>
                </div>
            </div>
        </section>
        <section class="section-common section11">
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 60.23%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 60.23%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic1_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic1_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic1_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic1_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic1_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic1_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic1_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic1_blur.jpg" alt="CV-50-pro-22w40w_sec11-pic1_blur.jpg"></picture>
            <div class="wrap fixed_block mb-t">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Suitable for Small Studio</div>
                    <div class="text2 ">Perfect fit for small rooms or studios.
                        It can also be placed on a cabinet shelf and easily slideprotective
                        cover to get artworks.
                        </div>
                </div>
            </div>
        </section>   
        
        <section class="section-common section12">
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 66.45%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 66.45%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec12-pic1_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec12-pic1_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec12-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec12-pic1_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec12-pic1_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec12-pic1_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec12-pic1_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec12-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec12-pic1_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec12-pic1_blur.jpg" alt="CV-50-pro-22w40w_sec12-pic1_blur.jpg"></picture>
            <div class="wrap fixed_block mb-t">
                <div class="text-box fadein fadein">
                    <div class="text1 hmf1">Fence Type Protection Strip, Heat and Smoke Dissipation</div>
                    <div class="text2 ">
                        Special oxidation process, visually appealing and wear-resistant finish</div>
                </div>
            </div>
        </section>   
        <section class="section-common section11-2">
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 64.34%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 64.34%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic2_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic2_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic2_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic2_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic2_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic2_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic2_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic2_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic2_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic2_blur.jpg" alt="CV-50-pro-22w40w_sec11-pic2_blur.jpg"></picture>
            <div class="wrap fixed_block mb-t">
                <div class="text-box fadein fadein">
                    <div class="text1 hmf1">Multiple Modes to Complete
                        Today's Creation with You</div>
                    <div class="text2 ">In auto mode, they turn on with the machine and simartly sleep
                        when carving stops.
                        </div>
                </div>
            </div>
        </section> 
        <section class="section-common section11-3">
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 55.43%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 55.43%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic3_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic3_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic3_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic3_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic3_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic3_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic3_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic3_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic3_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec11-pic3_blur.jpg" alt="CV-50-pro-22w40w_sec11-pic3_blur.jpg"></picture>
            <div class="wrap fixed_block mb-t">
                <div class="text-box fadein fadein">
                    <div class="text1 hmf1">Integrated Air Assist</div>
                    <div class="text2 ">Adjusting the airflow automatically or manually to creaate
                        perfect projects.
                        </div>
                </div>
            </div>
        </section> 

        <section class="section-common section13">
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 162.38%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 162.38%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic1_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic1_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic1_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic1_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic1_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic1_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic1_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic1_blur.jpg" alt="CV-50-pro-22w40w_sec13-pic1_blur.jpg"></picture>
            <div class="wrap fixed_block mb-t">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Support Offline Creating</div>
                    <div class="text2 ">Just insert a TF card, and you can feel free to create anytime, anywhere.</div>
                </div>
                <div class="text-box-second fadein">
                    <div class="text1 hmf1">Bonus a 1.6W laser module</div>
                    <div class="text2 ">Bonus a 1.6W laser module with 40W, specifically designed for engraving more deails.</div>
                </div>
                <div class="text-box-third fadein">
                    <div class="text1 hmf1">Rotary Engraving</div>
                    <div class="text2 ">Engraving exclusive marks on items such as water cups and baseball paired with Creality Rotary Kit Pro.</div>
                </div>
                <div class="text-box-fourth fadein">
                    <div class="text1 hmf1">Air Purification System</div>
                    <div class="text2 ">Efficient smoke exhaust in enclosed spaces, effectively filtering smoke and dust. Paired with optional air purifiers, safe and worry free.</div>
                </div>
            </div>
        </section>

        <section class="section-common section13-2">
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 65.35%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 65.35%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic2_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic2_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic2_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic2_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic2_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic2_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic2_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic2_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic2_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec13-pic2_blur.jpg" alt="CV-50-pro-22w40w_sec13-pic2_blur.jpg"></picture>
            <div class="wrap fixed_block mb-t">
                <div class="text-box fadein">
                    <div class="text1 hmf1">A One-stop Solution for Your Machine</div>
                    <div class="text2 ">Better Work with Accessories</div>
                </div>
            </div>
        </section> 

        <section class="section-common section14">
            <picture class="fit_picture"><div style="padding-bottom: 100.00%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 70.43%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 70.43%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec14-pic1_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec14-pic1_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec14-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec14-pic1_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec14-pic1_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec14-pic1_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec14-pic1_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec14-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec14-pic1_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec14-pic1_blur.jpg" alt="CV-50-pro-22w40w_sec14-pic1_blur.jpg"></picture>
            <div class="wrap fixed_block mb-t">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Extensive Compatibility</div>
                    <div class="text2 ">Compatible with a variety of systems, including Windows and mac os systems, and software such as LaserGRBL and LightBurn.</div>
                </div>
            </div>
        </section>

        <section class="section-common section15">
            <picture class="fit_picture"><div style="padding-bottom: 47.34%;" class="_xsmall placeholderTag"></div><div style="padding-bottom: 47.34%;" class="_xlarge placeholderTag"></div><div style="padding-bottom: 47.34%;" class="_xmedium placeholderTag"></div><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec15-pic1_xsmall.webp" media="(max-width:960px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec15-pic1_xmedium_2n.webp" media="(min-width:1921px)"><source type="image/webp" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec15-pic1_xmedium.webp, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec15-pic1_xmedium_2n.webp 2x" media="(min-width:0px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec15-pic1_xsmall.jpg" media="(max-width:960px)"><source type="image/jpeg" data-srcset="" media="(max-width:960px)" srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec15-pic1_xsmall_blur.jpg"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec15-pic1_xmedium_2n.jpg" media="(min-width:1921px)"><source type="image/jpeg" data-srcset="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec15-pic1_xmedium.jpg, https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec15-pic1_xmedium_2n.jpg 2x" media="(min-width:0px)"><img class="blur-up" src="https://cdn.shopifycdn.net/s/files/1/0799/8714/7049/files/CV-50-pro-22w40w_sec15-pic1_blur.jpg" alt="CV-50-pro-22w40w_sec15-pic1_blur.jpg"></picture>
            <div class="wrap fixed_block ">
                <div class="text-box fadein">
                    <div class="text1 hmf1">Enjoy DIY creations</div>
                    <div class="text2 ">Make your holiday special by creating personalized gifts</div>
                </div>
            </div>
        </section>


        <div class="section16">
            <h2 class="title fadein">Product Parameters:</h2>
            <div class="table_wrap">
                <div class="row-item">
                    <div class="param-name">Product Name</div>
                    <div class="value-wrap">
                        <div class="value-item">Creality Falcon2 Pro</div>
 
                    </div>
                </div>
                <div class="row-item">
                    <div class="param-name">Machine Power (MAX)</div>
                    <div class="value-wrap">
                        <div class="value-item">120W</div>
                        <div class="value-item">240W</div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="param-name">Optical Power</div>
                    <div class="value-wrap">
                        <div class="value-item">22W</div>
                        <div class="value-item">40W</div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="param-name">Engraving Area</div>
                    <div class="value-wrap">
                        <div class="value-item">400*415mm</div>
                        <div class="value-item">400*415mm</div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="param-name">Product Size</div>
                    <div class="value-wrap">
                        <div class="value-item">664*570*328.4mm</div>
                        <div class="value-item">664*570*328.4mm</div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="param-name">Product Weight</div>
                    <div class="value-wrap">
                        <div class="value-item">18.04kg</div>
                        <div class="value-item">18.56kg</div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="param-name">Input Voltage</div>
                    <div class="value-wrap">
                        <div class="value-item">100-240V~ 50-60Hz</div>
                        <div class="value-item">100-240V~ 50-60Hz</div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="param-name">Output Voltage</div>
                    <div class="value-wrap">
                        <div class="value-item">DC 24.0V 5.0A</div>
                        <div class="value-item">DC 24.0V 10.0A</div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="param-name">Operating Temperature</div>
                    <div class="value-wrap">
                        <div class="value-item">5℃-35℃</div>
                        <div class="value-item">5℃-35℃</div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="param-name">Laser Source</div>
                    <div class="value-wrap">
                        <div class="value-item">Diode Laser</div>
                        <div class="value-item">Diode Laser</div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="param-name">Laser Wavelength</div>
                    <div class="value-wrap">
                        <div class="value-item">455+5nm</div>
                        <div class="value-item">455+5nm</div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="param-name">Laser Wavelength</div>
                    <div class="value-wrap">
                        <div class="value-item">455+5nm</div>
                        <div class="value-item">455+5nm</div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="param-name">Laser Class</div>
                    <div class="value-wrap">
                        <div class="value-item">Class 1(FDA)</div>
                        <div class="value-item">Class 1(FDA)</div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="param-name">Laser Engraving Software</div>
                    <div class="value-wrap">
                        <div class="value-item">LightBurn、LaserGRBL</div>
                        <div class="value-item">LightBurn、LaserGRBL</div>
                    </div>
                </div>
                
                <div class="row-item">
                    <div class="param-name">Operating System</div>
                    <div class="value-wrap">
                        <div class="value-item">Windows /MacOS</div>
                        <div class="value-item">Windows /MacOS</div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="param-name">Supported File Formats</div>
                    <div class="value-wrap">
                        <div class="value-item"> Jpeg, jpg, png, bmp, svg, dxf, etc.</div>
                        <div class="value-item"> Jpeg, jpg, png, bmp, svg, dxf, etc.</div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="param-name">Supported Materials</div>
                    <div class="value-wrap">
                        <div class="value-item">Cardboard, wood, bamboo, rubber, leather, fabric, acrylic, plastic, etc.
                        </div>
                        <div class="value-item">Cardboard, wood, bamboo, rubber, leather, fabric, acrylic, plastic, etc.
                        </div>
 
                    </div>
                </div>
                <div class="row-item">
                    <div class="param-name">Certifications</div>
                    <div class="value-wrap">
                        <div class="value-item">EC60825、FDA、CE、ROHS、FCC、UKCA、UL Report、PSE</div>
                        <div class="value-item">EC60825、FDA、CE、ROHS、FCC、UKCA、UL Report、PSE</div>
                    </div>
                </div>

                <div class="row-item">
                    <div class="param-name">Package Size</div>
                    <div class="value-wrap">
                        <div class="value-item">730*630*210mm</div>
                        <div class="value-item">730*630*210mm</div>
                    </div>
                </div>
                <div class="row-item">
                    <div class="param-name">Gross Weight</div>
                    <div class="value-wrap">
                        <div class="value-item">22.38kg</div>
                        <div class="value-item">22.90kg</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 回到顶部 -->
    <div class="toTop" data-target=".section2">
        <div class="sellpoint-item-jump">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="46" height="92" viewBox="0 0 46 92">
                <defs>
                    <clipPath id="clip-path">
                        <rect id="pash_17131" data-name="pash 17131" width="46" height="92" transform="translate(9802 -12581)" fill="#fff" stroke="#707070" stroke-width="1"></rect>
                    </clipPath>
                </defs>
                <g id="sdf_3084" data-name="sdf 3084" transform="translate(-9802 12581)" clip-path="url(#clip-path)">
                    <g id="gds_48908" data-name="gds 48908" transform="translate(34 2)">
                        <g id="gds_9" data-name="gds 9" transform="translate(8728 -14303)">
                            <path id="uutyu_24" data-name="uutyu 24" d="M3994,24549a2,2,0,0,1-2-2v-8a2,2,0,0,1,4,0v6h6a2,2,0,0,1,0,4Z" transform="translate(-19118.535 -12785.508) rotate(-45)" fill="#00D3EF">
                            </path>
                        </g>
                        <g id="gds_9-2" data-name="gds 9" transform="translate(8728 -14257)">
                            <path id="uutyu_24-2" data-name="uutyu 24" d="M3994,24549a2,2,0,0,1-2-2v-8a2,2,0,0,1,4,0v6h6a2,2,0,0,1,0,4Z" transform="translate(-19118.535 -12785.508) rotate(-45)" fill="#00D3EF">
                            </path>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
    </div>
</div>


<script>
gsap.registerPlugin(ScrollToPlugin);
gsap.registerPlugin(ScrollTrigger)
const delay = function (timer) {
  return new Promise((res, rej) => {
    setTimeout(() => {
      res()
    }, timer)
  })
}

const docWidth = document.documentElement.clientWidth;
const docHeight = document.documentElement.clientHeight;
const vw = docWidth / 100;
const vh = docHeight / 100;
let spaceBetween = 1.3 * vw;

let spaceNum = docWidth > 960 ? 0.012 : 0.05

$('.tabs').click((e)=>{
  if(docWidth < 960 ){
    e.preventDefault();
    return
  }
  let clickTabsIndex = e.currentTarget.getAttribute('index');
  let tabsIndex = e.target.getAttribute('index');
  tabsIndex && mySwiper[clickTabsIndex].slideTo(tabsIndex, 300, false);
  e.preventDefault();
})

let tarGetinit = function () {
  $('[data-target]').click(function (e) {
    e.preventDefault();
    let target = $(this).data('target')
    gsap.to(window, {
      duration: 0.5,
      scrollTo: {
        y: target
      }
    });
  })
  let pagePagination = $(".page-pagination")

  $(window).scroll(function () {
    if (docWidth > 960) {
      var scrollPos = $(window).scrollTop();
      let docHeight = document.documentElement.clientHeight

      $(".page-pagination li").each(function (key) {
        var target = $(this).data("target");
        var targetPos = $(target).offset().top;
        var targetHeight = $(target).outerHeight();

        // 检查元素是否在视图中
        if (scrollPos >= (targetPos - docHeight * (1 - 0.3))) {
          pagePagination.fadeIn();
          $('.page-pagination li').removeClass('active')
          $(this).addClass("active"); // 如果在视图中，添加"active"类
        } else if (key === 0) {
          pagePagination.fadeOut()
        }
      });
    }
  });
}

var fadeInListen = function () {
  var fadeIn = $('.main-contain').find('.fadein');

  fadeIn.each(function () {
    let element = this;
    let {
      scrub,
      reverse,
      duration,
      actions,
      fn
    } = $(this).data()

    gsap.set(element, {
      opacity: 0,
      y: 30
    });
    let toggleActions = "play none none none";
    let start = $(this).data('start') || 70;
    duration ? '' : duration = 0.8
    let tl = gsap.to(element, {
      opacity: 1,
      y: 0,
      duration
    });
    if (reverse) {
      toggleActions = "play none none reverse"
    }

    ScrollTrigger.create({
      animation: tl,
      trigger: element,
      toggleActions,
      start: `top ${start}%`, // 调整触发点，视情况而定
      onEnter: function () {

      },
      once: true // 只触发一次
    });
  });

  var delayFadeIn = $('.delay-fadein');
  delayFadeIn.each(function () {
    let element = this;
    let {
      parent,
      el,
      scrub,
      reverse,
      duration,
      actions,
      fn
    } = $(this).data()
    let parentEl = $(parent);
    parentEl.length ? '' : parentEl = $(element)
    let delayEl = [];
    if (el) {
      el.split(',').forEach((selector) => delayEl.push(...parentEl.find(
        selector)))
    } else {
      delayEl = parentEl.children();
    }

    let toggleActions = "play none none none";
    scrub ? scrub = true : scrub = false;

    duration ? '' : duration = 0.8
    console.log(duration)
    let start = $(this).data('start') || 70;
    let stagger = $(this).data('delay') || 0.3;


    gsap.set(delayEl, {
      opacity: 0,
      y: 30
    });

    let tl = gsap.timeline();
    tl.to(delayEl, {
      stagger,
      opacity: 1,
      y: 0,
      duration
    })
    if (fn) {
      console.log(fn)
      tl = k1c_tl[fn](tl)
    }
    if (reverse) {
      toggleActions = "play none none reverse"
      gsap.set(element, {
        opacity: 0,
        y: 30
      });
      let t2 = gsap.to(element, {
        opacity: 1,
        y: 0,
        duration
      })
      ScrollTrigger.create({
        animation: t2,
        toggleActions,
        trigger: element,
        scrub,
        start: `top ${start}%`, // 调整触发点，视情况而定
      });
    }
    actions ? toggleActions = actions : ''


    ScrollTrigger.create({
      animation: tl,
      toggleActions,
      trigger: element,
      scrub,
      start: `top ${start}%`, // 调整触发点，视情况而定
      // marker: true
      // once: true // 只触发一次
    });
  });

}




// 淡入淡出 初始化
fadeInListen();
tarGetinit() //跳转初始化


    // <!-- lazy load -->
    const picture_observer = lozad('.fit_picture,.lazy-video', {
        rootMargin: '1500px 0px', // syntax similar to that of CSS Margin
        load: function (el) {
            // console.log(el)
            if (el.tagName === 'PICTURE' || el.tagName === 'IMG') {
                let image = el.tagName === 'IMG' ? el : el.querySelector('img');
                if (el.tagName === 'IMG') image = el;

                image.onload = function () {
                    this.classList.add('loaded')
                }
                el.querySelectorAll('source').forEach(source => {
                    let srcset = source.getAttribute('data-srcset');
                    srcset ? source.setAttribute('srcset', srcset) : ''
                });
            } else if (el.tagName === 'VIDEO') {
                el.onloadeddata = function () {
                    console.log('loaded...')
                    this.classList.add('loaded');
                };
                const poster = el.getAttribute('data-poster');
                if (poster) el.setAttribute('poster', poster);

                el.querySelectorAll('source').forEach(source => {
                    const src = source.getAttribute('data-src');
                    if (src) {
                        source.setAttribute('src', src);
                        el.load()
                    }
                });
            }
        }
    });
    picture_observer.observe();
</script>

{% schema %}
  {
    "name": "shopify_falcon_cv50_pro",
    "settings": [],
    "presets": [
      {
        "name": "shopify_falcon_cv50_pro"
      }
    ]
  }
{% endschema %}